name: Test

on:
  pull_request_target:
    branches:
      - master

concurrency:
  group: ${{ format('{0}-test-{1}', github.event.repository.name, github.head_ref || github.ref_name) }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Go test
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    environment: prod
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"

      - name: Run snapshot action
        uses: actions/go-dependency-submission@f35d5c9af13ce9cc32f7930b171e315e878f6921 # v2.0.3
        with:
            go-mod-path: "go.mod"

      - name: Install linters
        run: go install golang.org/x/lint/golint@latest

      - name: Go format and lint
        run: |
          go fmt ./...
          golint ./...
          go vet ./...

      - name: Suggest changes
        uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          tool_name: go static analysis

      - name: Test
        uses: robherley/go-test-action@b19f6aadabfb1ad85079065b21aa2af132466468 # v0.6.0
